<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/css/about.css">

    <title>Justin's Website!</title>

  </head>

  <body id="page-top">
      <a href="/">Home</a> ·
     <div style="text-align:center">
         <h1>ABOUT ME</h1>
         <p>Hi! I am a senior at UC Berkeley studying Computer Science. I am working at Twitch.tv and previously, PayPal. </p>
         <p>Outside of school and work , I have played badminton for 10+ years and am a huge gamer! >:D</p>
         <h1>SKILLS</h1>
         <p><b>Languages:</b> Python, Java, Shell Script, Ruby, C, Golang</p>
             <b>Frameworks:</b> Flask, Spring, Rails, Sinatra</p>
             <b>Tools:</b> Git, Maven, Jenkins, Docker, AWS</p>
             <b>Non-computer languages:</b> English, Mandarin, Cantonese</p>
        <h1>BADMINTON</h1>
        <p>Current President of Cal Badminton</p>
        <p>6 Time Junior National Champion!</p>
        <p>2015 USAB All American Award</p>
        <p>2012 U15 Pan American Champion</p>
        <p>World Junior Championships... participant</p>
        <h1>CURRENT VIDEO GAMES</h1>
        <p>Overwatch</p>
        <p>Stardew Valley</p>
        <p>Binding of Isaac</p>
  </div>

  </body>

</html>
